.carousel {
    width: 100%;
    height: 100vh;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 30px 0px;
    overflow-x: hidden;
    position: relative;
}


.carousel-images {
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    transition: all 0.5s ease;
    /* transform: translateX(-100%); */
}

.carousel-img {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    padding: 0 10px;
    position: relative;
    box-sizing: border-box;
}

.carousel-img img {
    user-drag: none;
    -webkit-user-drag: none;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    object-fit: cover;
}

.carousel-text {
    height: 90%;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-family: Poppins
}

.carousel-name p {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 13px;
}

.carousel-title {
    margin: 0;
    font-size: 35px;
    font-weight: 500;
}

.carousel-des {
    margin: 0;
    font-size: 15px;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.carousel-btns {
    display: flex;
    gap: 6px;
    margin-top: 20px;
}

.carousel-btns button {
    border: none;
    width: 130px;
    padding: 6px 12px;
    font-family: Poppins;
    font-size: 11px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.carousel-order-now {
    background: #3e6ae1;
    color: white;
}

.carousel-btns button:hover {
    filter: contrast(1);
}

.carousel-tabs {
    display: flex;
    gap: 5px;
    margin: 10px 0;
}

.carousel-tab {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background: #8b8c8f;
    flex-shrink: 0;
    padding: 0;
}

.carousel-tab.active-tab {
    background: #000;
}

.carousel-slider {
    width: 90%;
    position: absolute;
    display: flex;
    justify-content: space-between;
}

.carousel-slider button {
    border: none;
    background: #ebe5df;
    font-size: 20px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.carousel-slider button:hover {
    transform: scale(0.9);
}

.carousel-slider button img {
    width: 20px;
}



@media (max-width: 768px) {
    .carousel-text {
        width: 100%;
    }

    .carousel-btns {
        width: 80%;
        justify-content: space-between;
    }

    .carousel-btns button {
        width: 100%;
        padding: 8px 16px;
        font-family: Poppins;
        font-size: 13px;
    }

    .carousel-slider {
        display: none;
    }
}

@media (max-width: 480px) {
    .carousel-images {
        height: 80%;
    }

    .carousel {
        height: 80vh;
    }

    .carousel-btns button {
        padding: 6px 12px;
        font-size: 10px;
    }
    .carousel-title{
        font-size: 28px;
    }
    .carousel-text{
        left: 10%;
    }

}