.hero-slider {
    background-color: white;
    width: 100%;
    height: 380px;
}

.hero-slider-images {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}

.hero-img {
    width: 100%;
    height: 100%;
    position: absolute;
    flex-shrink: 0;
    transition: all 0.7s ease-in;
    opacity: 0;

}

.hero-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;


}

.hero-slider-images .active {
    opacity: 1;
}

.hero-text {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Poppins;
}

.hero-text .hero-heading {
    font-size: 36px;
    margin: 0;
    padding: 0;
    font-weight: 600;
}

.hero-text .hero-des {
    font-size: 14px;
    text-decoration: underline;
    text-underline-offset: 4px;
    margin-top: -5px;
}

.hero-buttons {
    display: flex;
    gap: 8px;
}

.hero-buttons button {
    border: none;
    width: 150px;
    padding: 8px 12px;
    font-family: Poppins;
    font-size: 11px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 2px;
}

.hero-order {
    background: #3e6ae1;
    color: white;
}

.hero-view-inv {
    background: white;
    color: black;
}

.hero-slider-btns {
    width: 94%;
    position: absolute;
    z-index: 12;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
}

.hero-slider-btns button {
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    border-radius: 2px;
}

.hero-slider-btns button img {
    width: 18px;
    transition: all 0.3s ease;
}

.hero-slider-btns button img:hover {
    width: 15px;
}





@media (max-width: 480px) {
    .hero-buttons button {
        width: 100px;
        font-size: 10px;
    }
}