.promo-section {
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.promo-card {
    width: 480px;
    height: 180px;
    background: #e1e0e0;
    border-radius: 4px;
    display: flex;
    overflow: hidden;
}

.promo-card-text {
    width: 80%;
    height: 100%;
    color: black;
    font-family: Poppins;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    margin-left: 30px;

    /* align-items: center;  */
    /* background: red; */
}

.promo-card-title {
    font-weight: 600;
    font-size: 24px;
}

.promo-card-des {
    font-size: 14px;
    color: rgb(73, 73, 73);
}

.promo-card-learnmore {
    background: white;
    color: black;
    border: none;
    width: 200px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    padding: 6px 10px;
    cursor: pointer;
    border-radius: 3px;
    margin-top: 20px;
    transition: all 0.3s ease;
}

.promo-card-learnmore:hover {
    background: rgb(222, 218, 218);
}

.promo-card-img {
    width: 35%;
    height: 100%;
    flex-shrink: 0;
}

.promo-card-img img {
    width: 100%;
    height: 100%;
}


@media (max-width: 1024px) {
    .promo-card-img {
        display: none;
    }

    .promo-card {
        height: 160px;
        margin-bottom: 30px
    }

    .promo-card-text {
        width: 100%;
        margin: 5px;
        margin-left: 15px;
    }
}

@media (max-width: 640px) {
    .promo-section {
        flex-direction: column;
    }

    .promo-card-img {
        width: 100%;
    }

    .promo-card-img img {
        object-fit: cover;
        object-position: top;
    }

    .promo-card {
        width: 380px;
        height: 300px;
        flex-direction: column-reverse;
    }

    .promo-card-img {
        display: block;
    }

    .promo-card-learnmore {
        margin-bottom: 10px;
    }

}

@media (max-width: 480px) {
    .promo-card {
        width: 95%;
       height: auto;
    }
    .promo-card-img{
        flex-shrink: 0;
    }

    .promo-card-learnmore{
        width: 80%;
    }
  
    .promo-card-title{
        font-size: 20px;
    }
    .promo-card-des{
        font-size: 12px;
    }

       
    
}