/* body {
  background: #333;
  color: white;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  position: relative;
}

#main {
  width: 100vw;
  height: 100vh;
   
} */
*::selection{
  background: #000;
  color: white;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background: #333;
  color: white;
}

#main {
  width: 100%;
  height: 100%;
}
