.footer {
    padding: 10px;
    background: #ffffff;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;

}

.footer-options {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 10px;
    font-family: Poppins;
    gap: 20px;
}

.footer-options li a {
    color: rgb(85, 85, 85);
    text-decoration: none;
}


@media (max-width: 640px) {
    .footer-options{
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        padding: 0;
    }
 
}